<main role="main" class="blog container">
    <section class="blog__posts">
        <div class="blog__post" id="{{id}}">
            <h1 class="blog__title">{{title}}</h1>
            <div class="blog__info">
                <p class="blog__date"><i class="fa fa-calendar"></i>{{date}}</p>
                <p class="blog__category"><i class="fa fa-tags"></i>{{category}}</p>
                <p class="blog__tags">{{tags}}</p>
            </div>
            <p class="blog__content">{{content}}</p>
        </div>
        <div class="blog__footer">
            <div class="blog__footer--links">
                <a class="blog__readmore" href="/blog/">All Posts</a>
                <div class="blog__footer--social">
                    <i class="fa fa-facebook-square"></i><i class="fa fa-twitter-square"></i><i class="fa fa-google-plus-square"></i><i class="fa fa-linkedin-square"></i>
                </div>
            </div>
            <div class="blog__footer--posts">
                <div class="blog__post {{hide_previous}}">
                    <h1 class="blog__title">{{title_previous}}</h1>
                    <p class="blog__date"><i class="fa fa-calendar"></i>{{date_previous}}</p>
                    <a href="/blog/{{uri_previous}}/" class="blog__readmore">Previous Post</a>
                </div>
                <div class="blog__post {{hide_next}}">
                    <h1 class="blog__title">{{title_next}}</h1>
                    <p class="blog__date"><i class="fa fa-calendar"></i>{{date_next}}</p>
                    <a href="/blog/{{uri_next}}/" class="blog__readmore">Next Post</a>
                </div>
            </div>
        </div>
    </section>
    {{sidebar}}
</main>