<main role="main" class="blog container">
    <section class="blog__posts">
       <h1 class="main__title"><span>Blog Posts</span></h1>
        {{posts}}
    </section>
    <aside class="blog__sidebar">
        <div class="blog__search">
            <div class="blog__search--container">
                <input type="text" placeholder="Search all blogs..."><button><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="blog__categories">
            <h2>Categories</h2>
            <ul>
                <li>category</li>
                <li>category</li>
                <li>category</li>
                <li>category</li>
                <li>category</li>
            </ul>
        </div>
        <div class="blog__recent">
            <div class="blog__small">
                <h3>Title of small blog</h3>
                <p class="blog__date"><i class="fa fa-calendar"></i>January 1st 1970</p>
            </div>
            <div class="blog__small">
                <h3>Title of small blog</h3>
                <p class="blog__date"><i class="fa fa-calendar"></i>January 1st 1970</p>
            </div>
        </div>
        <div class="blog__archives">
            <h2>Archives</h2>
            <ul>
                <li>July 2017</li>
                <li>June 2017</li>
                <li>May 2017</li>
                <li>April 2017</li>
                <li>March 2017</li>
            </ul>
        </div>
        <div class="blog__tags">
            <h2>Tags</h2>
            <div class="blog__tags--container"><span>tag</span><span>tag</span><span>tag</span><span>tag</span></div>
        </div>
    </aside>
</main>