<aside class="blog__sidebar">
    <div class="blog__search">
        <div class="blog__search--container">
            <input type="text" placeholder="Search all blogs..."><button><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="blog__categories">
        <h2>Categories</h2>
        <ul>
            {{categories}}
        </ul>
    </div>
    <div class="blog__recent">
        <h2>Recent Posts</h2>
        {{recent}}
    </div>
    <div class="blog__archives">
        <h2>Archives</h2>
        <ul>
            {{archives}}
        </ul>
    </div>
    <div class="blog__tags">
        <h2>Tags</h2>
        <div class="blog__tags--container">{{tags}}</div>
    </div>
</aside>