// Main Colours
$main-color: #607D8B;
$main-color-darker: #455A64;
$main-color-lighter: #90A4AE;

// Background Colours
$background-dark: #444444;
$background-light: #F5F5F5;
$background-lighter: #D6D6D6;

// Font Colours
$font-light: #E0E0E0;
$font-lighter: #888888;
$font-dark: #404040;
$font-darker: #888888;
$font-darkest: #222222;

// Border Colours
$border-dark: #E5E5E5;

// Other Colours
$green: #81C784;