@import 'colours';
@import 'fonts';
@import 'mixins';

/**** Hold-To-Confirm Buttons ****/
.hold-button {
    background-color: $background-light;
    width: 128px;
    height: 32px;
    @include border-radius(2px);
    border: 1px solid $border-dark;
    color: $font-light;
    cursor: pointer;
    @include transition(all);
    position: relative;
    margin-left: 64px;
    background-color: $main-color;
    font-size: 12px;
    text-transform: uppercase;

    &:active, &:focus {
        outline: 0;
        -webkit-appearance: none;
    }

    &:active {
        transition-delay: 2s;
        background-color: #81C784;
    }
}

.hold-button__bottom-bar {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        background-color: #D43444;
        @include transition(width, 0s);
    }
    &:active:before {
        width: 100%;
        @include transition(width, 2s, linear);
    }
}

.hold-button__top-bar {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        top: -2px;
        left: 0;
        height: 2px;
        background-color: #D43444;
        @include transition(width, 0s);
    }
    &:active:before {
        width: 100%;
        @include transition(width, 2s, linear);
    }
}

.hold-button__both-bar {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        background-color: #D43444;
        @include transition(width, 0s);
    }
    &:after {
        content: "";
        width: 0%;
        position: absolute;
        top: -2px;
        left: 0;
        height: 2px;
        background-color: #D43444;
        @include transition(width, 0s);
    }
    &:active:before, &:active:after {
        width: 100%;
        @include transition(width, 2s, linear);
    }
}

.hold-button__centre-bar {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 2px;
        background-color: #D43444;
        @include transition(width, 0s);
    }
    &:after {
        content: "";
        width: 0%;
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 2px;
        background-color: #D43444;
        @include transition(width, 0s);
    }
    &:active:before, &:active:after {
        width: 100%;
        @include transition(width, 2s, linear);
    }
}

.hold-button__left-fill {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        @include transition(width, 0s);
    }
    &:active:before {
        width: 100%;
        @include transition(width, 2s, linear);
    }
}

.hold-button__right-fill {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        @include transition(width, 0s);
    }
    &:active:before {
        width: 100%;
        @include transition(width, 2s, linear);
    }
}

.hold-button__centre-fill {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        @include transition(width, 0s);
    }
    &:active:before {
        width: 100%;
        @include transition(width, 2s, linear);
    }
}

.hold-button-circle {
    background-color: $main-color-lighter;
    width: 32px;
    height: 32px;
    @include border-radius(100%);
    border: 1px solid $border-dark;
    color: $main-color-darker;
    @include text-shadow(1px, 1px, 0, rgba(0,0,0,0.2));
    cursor: pointer;
    @include transition(all);
    position: relative;
    margin-left: 64px;
    text-align: center;

    &:active, &:focus {
        outline: 0;
        -webkit-appearance: none;
    }
    &:active {
        background-color: $green;
        transition-delay: 2s;
    }
}

.hold-button-circle__in-circle {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        left: 0;
        right:0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 0%;
        @include border-radius(100%);
        @include transition(all, 0s);
        background-color: rgba(0,0,0,0.4);
    }
    &:active:before {
        width: 100%;
        height: 100%;
        @include transition(all, 2s, linear);
    }
}

.hold-button-circle__out-circle {
    &:before {
        content: "";
        width: 0%;
        position: absolute;
        left: 0;
        right:0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 0%;
        @include border-radius(100%);
        @include transition(all, 0s);
        background-color: rgba(0,0,0,0.4);
        z-index: 9;
    }
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        @include border-radius(100%);
        @include transition(all, 0s);
        background-color: rgba($main-color-lighter, 0);
        z-index: 10;
    }
    &:active:before {
        width: 100%;
        height: 100%;
    }
    &:active:after {
        width: 0;
        height: 0;
        background-color: rgba($main-color-lighter, 1);
        -webkit-transition: width 2s linear, height 2s linear, background-color 0s linear;
        -moz-transition: width 2s linear, height 2s linear, background-color 0s linear;
        -ms-transition: width 2s linear, height 2s linear, background-color 0s linear;
        -o-transition: width 2s linear, height 2s linear, background-color 0s linear;
        transition: width 2s linear, height 2s linear, background-color 0s linear;
    }
}