html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover, a:focus, a:visited, a:active {
  color: inherit;
  text-decoration: none; }

@media (max-width: 1024px) {
  main > div, #about div, nav__container {
    width: 100%; } }
/**** GENERAL ****/
body {
  font: 100% "Source Sans Pro", sans-serif;
  color: #404040; }

::selection {
  background: #303f46;
  color: #E0E0E0; }

::moz-selection {
  background: #303f46;
  color: #E0E0E0; }

#top {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  display: none;
  background-color: #607D8B;
  color: #FFFFFF;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -ms-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  position: fixed;
  right: 56px;
  bottom: 48px;
  cursor: pointer;
  z-index: 50; }
  #top:hover {
    background-color: #444444; }

/**** HEADER ****/
header {
  height: 65px;
  width: 100%;
  line-height: 64px;
  padding-left: 96px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 7;
  background-color: #FFFFFF;
  border-bottom: 1px solid #B8B8B8;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.2); }
  header h1 {
    font: 1.4em "Play", sans-serif;
    color: #404040;
    display: inline-block;
    width: 196px;
    height: 64px;
    text-transform: lowercase;
    cursor: pointer; }

#header__logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 16px;
  top: 0;
  z-index: 6;
  padding: 8px; }

/**** NAVIGATION ****/
.nav__main {
  width: auto;
  display: inline-block;
  position: relative;
  height: 64px;
  z-index: 5; }
  .nav__main ul {
    list-style: none;
    height: 64px; }
  .nav__main li {
    display: inline-block;
    width: auto;
    height: 64px;
    padding: 0 24px;
    cursor: pointer; }
    .nav__main li:hover {
      color: #FFFFFF;
      background-color: #cbd4d9; }
    .nav__main li a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px; }

/**** MAIN ****/
main {
  background-color: #F5F5F5;
  padding: 64px 0; }
  main > div {
    width: 1024px;
    margin: 0 auto;
    padding: 16px 0;
    border-top: 1px solid #E5E5E5; }
  main h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 32px;
    cursor: pointer; }
  main h2:before {
    content: "# ";
    color: #90A4AE; }

#about {
  width: 100%;
  height: auto;
  background: url("triangles.png") 50% 0% no-repeat #D0DAE1;
  text-align: center;
  border-bottom: 8px solid rgba(69, 90, 100, 0.3);
  margin-top: 64px; }
  #about .large {
    font-size: 2.4em;
    color: #FFFFFF;
    -webkit-text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
    margin: 32px 0; }
  #about div {
    width: 1024px;
    margin: 0 auto;
    padding: 128px 8px 64px; }

.preview__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 0 auto; }

.preview {
  width: 236px;
  height: auto;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 16px;
  padding: 8px 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .preview:hover {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 2px #E5E5E5;
    -moz-box-shadow: 0 0 2px #E5E5E5;
    box-shadow: 0 0 2px #E5E5E5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .preview:hover .preview__title {
    color: #303f46; }
  .preview:hover .preview__image {
    filter: grayscale(0);
    -webkit-filter: grayscale(0); }

.preview__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 0;
  text-align: center;
  color: #455A64;
  border-top: 4px solid rgba(96, 125, 139, 0.4);
  width: 208px;
  margin: 0 auto;
  margin-top: 4px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }

.preview__image {
  opacity: 0.8;
  border: 1px solid #E5E5E5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); }

.preview__description {
  text-align: left;
  padding: 4px 16px;
  font-size: 14px; }

.skills__skill {
  width: 320px;
  display: inline-block;
  padding: 4px 8px;
  position: relative; }
  .skills__skill h3 {
    font-size: 1.3em;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding-left: 16px;
    position: relative;
    border-bottom: 4px solid #90A4AE;
    margin-bottom: 8px; }
  .skills__skill .skills__img {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #90A4AE;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #E0E0E0;
    text-align: center; }
  .skills__skill li {
    margin: 8px 16px; }
    .skills__skill li:before {
      content: "\f101";
      font-family: "FontAwesome";
      color: #888888;
      padding-right: 4px; }

.description {
  color: #222222;
  padding: 8px;
  background: url("lines.png") repeat rgba(144, 164, 174, 0.7);
  -webkit-text-shadow: 1px 1px 1px #90A4AE;
  -moz-text-shadow: 1px 1px 1px #90A4AE;
  text-shadow: 1px 1px 1px #90A4AE;
  font-size: 1.2em; }

.button__contact {
  margin: 32px auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-text-shadow: 0.5px 0.5px 0 #90A4AE;
  -moz-text-shadow: 0.5px 0.5px 0 #90A4AE;
  text-shadow: 0.5px 0.5px 0 #90A4AE;
  -webkit-box-shadow: 0 4px 0 rgba(69, 90, 100, 0.7);
  -moz-box-shadow: 0 4px 0 rgba(69, 90, 100, 0.7);
  box-shadow: 0 4px 0 rgba(69, 90, 100, 0.7);
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  background-color: #455A64;
  cursor: pointer;
  color: #E0E0E0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  padding: 16px 32px; }
  .button__contact:hover, .button__contact:focus {
    background-color: #5a7582;
    outline: 0;
    -moz-outline-style: none; }
  .button__contact::moz-focus-inner {
    border: 0; }

.contact__link {
  text-decoration: underline;
  color: #607D8B;
  margin-left: 24px; }
  .contact__link .fa {
    margin-right: 8px;
    color: #303f46;
    font-size: 1.1em;
    vertical-align: bottom; }

#contact__form {
  display: flex;
  flex-flow: row wrap; }

.contact__input {
  flex: 1 auto;
  margin: 4px 8px;
  height: 32px;
  display: inline-block;
  position: relative;
  display: flex;
  border: 1px solid #AAAAAA;
  box-sizing: content-box; }
  .contact__input input {
    flex: 1;
    background-color: #FFFFFF;
    border: 0;
    padding-left: 8px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }

.contact__input--title {
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #90A4AE; }

.contact__input--valid {
  height: 100%;
  line-height: 32px;
  width: 32px;
  text-align: center;
  font-size: 0.9em;
  display: none; }
  .contact__input--valid.valid {
    background-color: #81C784; }
  .contact__input--valid.invalid {
    background-color: #E57373; }

#contact__message--container {
  flex: 2 100%;
  margin: 8px;
  position: relative; }
  #contact__message--container .contact__input--title {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px; }

#contact__message {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  padding-left: 76px;
  max-width: 1024px;
  min-height: 32px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

#contact__response {
  display: none; }

/**** FOOTER ****/
footer {
  height: 64px;
  line-height: 63px;
  background-color: #444444;
  color: #888888;
  padding-left: 32px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  position: relative; }
  footer img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    margin-right: 16px; }
  footer .nav__main {
    margin-left: 32px; }
    footer .nav__main li:hover {
      background-color: #455A64; }

/**** MEDIA QUERIES ****/
@media all and (max-width: 1024px) {
  main > div {
    width: 100%; }

  .nav__container {
    width: 100%;
    text-align: center; }
    .nav__container li:last-child {
      padding-right: 0; }

  #about > div {
    width: 100%;
    padding-top: 16px; }

  header, #header__logo {
    display: none; }

  footer .nav__container {
    display: none; }

  #top {
    visibility: hidden; }

  .skills__skill {
    width: 30%;
    min-width: 240px; } }
@media all and (max-width: 480px) {
  .skills__skill {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
