@import 'reset';
@import 'colours';
@import 'fonts';
@import 'mixins';
@import 'media';

/**** GENERAL ****/
body {
    font: $body-font;
    color: $font-dark;
    text-rendering: optimizeLegibility;
}

::selection {
    background: darken($main-color-darker, 10%);
    color: $font-light;
}
::moz-selection {
    background: darken($main-color-darker, 10%);
    color: $font-light;
}

#top {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    display: none;
    background-color: $main-color;
    color: $background-lightest;
    @include transition(background-color, 0.1s);
    @include border-radius(2px);
    position: fixed;
    right: 56px;
    bottom: 48px;
    cursor: pointer;
    z-index: 50;

    &:hover {
        background-color: $background-dark;
    }
}

/**** HEADER ****/
header {
    height: 65px;
    width: 100%;
    line-height: 64px;
    padding-left: 96px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 7;
    background-color: $background-lightest;
    border-bottom: 1px solid #B8B8B8;
    @include box-shadow(1px, 0, 0, rgba(0,0,0,0.2));

    h1 {
        font: $header-font;
        color: $font-dark;
        display: inline-block;
        width: 196px;
        height: 64px;
        text-transform: lowercase;
        cursor: pointer;
    }
}

#header__logo {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 6;
    padding: 8px;
}

/**** NAVIGATION ****/
.nav__main {
    width: auto;
    display: inline-block;
    position: relative;
    height: 64px;
    z-index: 5;

    ul {
        list-style: none;
        height: 64px;
    }

    li {
        display: inline-block;
        width: auto;
        height: 64px;
        padding: 0 24px;
        cursor: pointer;

        &:hover {
            color: $background-lightest;
            background-color: lighten($main-color-lighter, 20%);
        }

        & a {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
        }
    }
}

/**** MAIN ****/
main {
    background-color: $background-light;
    padding: 64px 0;

    &>div {
        width: 1024px;
        margin: 0 auto;
        padding: 16px 0;
        border-top: 1px solid $border-dark;
    }

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 32px;
        cursor: pointer;
    }
    h2:before {
        content: "# ";
        color: $main-color-lighter;
    }
}

#about {
    width: 100%;
    height: auto;
    background: url('triangles.png') 50% 0% no-repeat #D0DAE1;
    text-align: center;
    border-bottom: 8px solid rgba($main-color-darker, 0.3);
    margin-top: 64px;

    .large {
        font-size: 2.4em;
        color: $background-lightest;
        @include text-shadow(2px, 2px, 0, rgba(0,0,0,0.4));
        margin: 32px 0;
    }

    div {
        width: 1024px;
        margin: 0 auto;
        padding: 128px 8px 64px;
    }
}


.preview__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
}
.preview {
    width: 236px;
    height: auto;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 16px;
    padding: 8px 0;
    @include transition(all);

    &:hover {
        background-color: $background-lightest;
        @include box-shadow(0, 0, 2px, $border-dark);
        @include transition(all, 0.2s);
    }

    &:hover .preview__title {
        color: darken($main-color-darker, 10%);
    }

    &:hover .preview__image {
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
}
.preview__title {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px 0;
    text-align: center;
    color: $main-color-darker;
    border-top: 4px solid rgba($main-color, 0.4);
    width: 208px;
    margin: 0 auto;
    margin-top: 4px;
    @include transition(color, 0.2s);
}
.preview__image {
    opacity: 0.8;
    border: 1px solid $border-dark;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.preview__description {
    text-align: left;
    padding: 4px 16px;
    font-size: 14px;
}

.skills__skill {
    width: 320px;
    display: inline-block;
    padding: 4px 8px;
    position: relative;

    h3 {
        font-size: 1.3em;
        font-weight: bold;
        height: 32px;
        line-height: 32px;
        padding-left: 16px;
        position: relative;
        border-bottom: 4px solid $main-color-lighter;
        margin-bottom: 8px;
    }

    .skills__img {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        background-color: $main-color-lighter;
        position: absolute;
        right: 0;
        bottom: 0;
        color: $font-light;
        text-align: center;
    }

    li {
        margin: 8px 16px;

        &:before {
            content: "\f101";
            font-family: "FontAwesome";
            color: $font-darker;
            padding-right: 4px;
        }
    }
}

.description {
    color: $font-darkest;
    padding: 8px;
    background: url('lines.png') repeat rgba($main-color-lighter, 0.7);
    @include text-shadow(1px, 1px, 1px, $main-color-lighter);
    font-size: 1.2em;
}

.button__contact {
    margin: 32px auto;
    @include border-radius(0);
    @include text-shadow(0.5px, 0.5px, 0, $main-color-lighter);
    @include box-shadow(0, 4px, 0, rgba($main-color-darker, 0.7));
    @include transition(background-color, 0.25s);
    background-color: $main-color-darker;
    cursor: pointer;
    color: $font-light;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    padding: 16px 32px;

    &:hover, &:focus {
        background-color: lighten($main-color-darker, 10%);
        outline: 0;
        -moz-outline-style: none;
    }

    &::moz-focus-inner {
        border: 0;
    }
}

.contact__link {
    text-decoration: underline;
    color: $main-color;
    margin-left: 24px;

    .fa {
        margin-right: 8px;
        color: darken($main-color-darker, 10%);
        font-size: 1.1em;
        vertical-align: bottom;
    }
}

#contact__form {
    display: flex;
    flex-flow: row wrap;
}

.contact__input {
    flex: 1 auto;
    margin: 4px 8px;
    height: 32px;
    display: inline-block;
    position: relative;
    display: flex;
    border: 1px solid #AAAAAA;
    box-sizing: content-box;

    & input {
        flex: 1;
        background-color: $background-lightest;
        border: 0;
        padding-left: 8px;
        @include border-radius(0px);
    }
}
.contact__input--title {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $main-color-lighter;
}
.contact__input--valid {
    height: 100%;
    line-height: 32px;
    width: 32px;
    text-align: center;
    font-size: 0.9em;
    display: none;

    &.valid {
        background-color: #81C784;
    }

    &.invalid {
        background-color: #E57373;
    }
}
#contact__message--container {
    flex: 2 100%;
    margin: 8px;
    position: relative;

    & .contact__input--title {
        position: absolute;
        left: 0;
        top: 0;
        height: 32px;
    }
}
#contact__message {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    background-color: $background-lightest;
    border: 1px solid #AAAAAA;
    padding-left: 76px;
    max-width: 1024px;
    min-height: 32px;
    @include border-radius(0px);
}
#contact__response {
    display: none;
}

/**** FOOTER ****/
footer {
    height: 64px;
    line-height: 63px;
    background-color: $background-dark;
    color: $font-lighter;
    padding-left: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    position: relative;

    img {
        height: 32px;
        width: 32px;
        vertical-align: middle;
        margin-right: 16px;
    }

    .nav__main {
        
        margin-left: 32px;

        li:hover {
            background-color: $main-color-darker;
        }
    }
}

/**** MEDIA QUERIES ****/

@media all and (max-width: 1024px) {
    main > div {
        width: 100%;
    }
    .nav__container {
        width: 100%;
        text-align: center;

        & li:last-child {
            padding-right: 0;
        }
    }
    #about > div {
        width: 100%;
        padding-top: 16px;
    }
    header, #header__logo {
        display: none;
    }
    footer .nav__container {
        display: none;
    }
    #top {
        visibility: hidden;
    }
    .skills__skill {
        width: 30%;
        min-width: 240px;
    }
}

@media all and (max-width: 480px) {
    .skills__skill {
        width: 100%;
    }
}