@import 'reset';
@import 'colours';
@import 'fonts';
@import 'mixins';
@import 'media';
@import 'code';

/**** GENERAL ****/
body {
    font: $body-font;
    color: $font-dark;
    text-rendering: optimizeLegibility;
}

::selection {
    background: darken($main-color-darker, 10%);
    color: $font-light;
}
::moz-selection {
    background: darken($main-color-darker, 10%);
    color: $font-light;
}
code {
    font-family: monospace;
    color: $font-lighter;
}

#top {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    display: none;
    background-color: $main-color;
    color: #FFFFFF;
    @include transition(background-color, 0.1s);
    @include border-radius(2px);
    position: fixed;
    right: 56px;
    bottom: 48px;
    cursor: pointer;
    z-index: 50;

    &:hover {
        background-color: $background-dark;
    }
}
main a {
    color: $main-color;

    &:hover {
        color: $main-color-darker;
        text-decoration: underline;
    }
    &:visited {
        color: $main-color;
    }
}

/**** HEADER ****/
.heading {
    width: 100%;
    height: 96px;
    line-height: 96px;
    font-size: 1.8em;
    background: url('about.png') 50% -640px no-repeat $main-color;
    color: #FFFFFF;
    @include text-shadow(1px, 1px, 0, rgba(0,0,0,0.4));
    padding-left: 64px;
    border-bottom: 8px solid rgba($main-color-darker, 0.3);
    position: relative;
    z-index: 10;

    .fa-angle-right {
        color: lighten($main-color-lighter, 10%);
        font-size: 0.8em;
        display: inline-block;
        height: 96px;
        line-height: 90px;
        vertical-align: middle;
        margin: 0 8px;
    }
}

header {
    width: 100%;
    height: 64px;
    line-height: 64px;
    z-index: 7;
    position: relative;
    border-bottom: 1px solid $border-dark;
    background-color: #FFFFFF;

    h1 {
        font: $header-font;
        color: $font-dark;
        display: inline-block;
        width: auto;
        text-transform: lowercase;
        margin-right: 8px;
        cursor: pointer;
    }

    h3 {
        color: $font-darker;
        display: inline-block;
        width: auto;
        text-transform: lowercase;
    }

    .header__left {
        padding-left: 16px;
        padding-right: 92px;
        background: linear-gradient(315deg, transparent 20px, $border-dark 0px) repeat scroll right bottom transparent;
        position: absolute;
        height: 64px;
        width: auto;
        left: 0;
        top: 0;
        z-index: 9;
    }
}
.header--fixed {
    position: fixed;
    left: 0;
    top: 0;
}

#header__logo {
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    top: -26px;
    z-index: 5;
    left: 64px;
}

/**** NAVIGATION ****/
.nav__main {
    width: 1024px;
    height: 64px;
    line-height: 64px;
    position: absolute;
    z-index: 5;
    background: #FFFFFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-bottom: 1px solid $border-dark;

    .nav__container {
        display: block;
    }
}

.nav__container {
    height: 64px;
    width: 1024px;
    display: inline-block;
    margin: 0 auto;
    text-align: right;

    ul {
        list-style: none;
        height: 64px;
    }

    li {
        display: inline-block;
        width: auto;
        padding-left: 24px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        @include transition(color);
        
        &:first-child {
            padding-left: 0;
        }

        &:hover {
            color: $main-color;
        }
    }
}

.nav__filler {
    display: none;
    width: 100%;
    height: 64px;
    position: relative;
    background-color: #FFFFFF;
}

/**** MAIN ****/
main {
    background-color: $background-light;
    padding: 64px 0;

    &>div {
        width: 1024px;
        margin: 0 auto;
        padding: 16px 16px;
        border-top: 1px solid $border-dark;
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
        margin-left: -16px;
        margin-bottom: 32px;
        cursor: pointer;

        &:before {
            content: "# ";
            color: $main-color-lighter;
        }

        & a {
            color: $font-dark;
        }
    }

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 16px 0;
    }
}

.description {
    color: $font-darkest;
    padding: 8px;
    background: url('lines.png') repeat rgba($main-color-lighter, 0.7);
    @include text-shadow(1px, 1px, 1px, $main-color-lighter);
    font-size: 0.9em;

    a {
        color: $main-color-darker;

        &:hover {
            text-decoration: underline;
        }
    }
}

/**** FOOTER ****/
footer {
    height: 64px;
    line-height: 63px;
    background-color: $background-dark;
    color: $font-lighter;
    padding-left: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    position: relative;

    img {
        height: 32px;
        width: 32px;
        vertical-align: middle;
        margin-right: 16px;
    }

    .nav__container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

/**** MEDIA QUERIES ****/

@media all and (max-width: 1024px) {
    .heading {
        height: auto;
    }
    .heading a {
        display: inline-block;
        width: 100%;
    }
    main > div {
        width: 100%;
    }
    .nav__main {
        width: 100%;
    }
    .nav__container {
        width: 100%;
        text-align: center;

        & li:last-child {
            padding-right: 0;
        }
    }
    .header__left, #header__logo {
        display: none;
    }
    footer .nav__container {
        display: none;
    }
    #top {
        visibility: hidden;
    }
}